body {
    background-color: #c7eef5;
    /* google fonts */

}
.weather-app {
    background-color: orangered;
    width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 40px;
    /* box-shadow: ; */
}
.search-input {
    padding: 10px;
    padding-right: 250px;
    border-radius: 5px;
    border: none;
 
}

